<div class="container my-3">
    <h1>Custom Observable</h1>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 01 (Manual)</strong>
            <hr>

            <ul [ngClass]="techStatus == 'Completed'? 'completed' : techStatus== 'Error' ? 'error' : ''" class="techList" id="elContainer">
                
            </ul>
        </div>

        <div class="col-md-6">
            <strong>Ex - 02 (Custom Interval Observable)</strong>
            <hr>

            <ul [ngClass]="techStatus2 == 'Completed'? 'completed' : techStatus2 == 'Error' ? 'error' : ''" class="techList" id="elContainer2">
              
            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <strong>Random Names</strong>
            <br>
            <br>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Random Names: </strong>'Bhavik', 'Manoj', 'Sejpal','John', 'Alex', 'Robert'
            </p>
            <hr>

            <p>Current Name: <strong>{{names}}</strong></p>
            <span [ngClass]="nameStatus == 'Completed'? 'badge text-bg-success': nameStatus == 'Error' ? 'badge text-bg-danger' : ''" class="badge text-bg-primary">{{nameStatus == 'Completed' ? 'Success' : nameStatus == 'Error' ? 'Error' : 'Running'}}</span>
        </div>
    </div>
</div>
