<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="fromEvent">From Event</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">Of-From</a>
            </li>
            <li>
                <a routerLink="to-array">To-Array</a>
            </li>
            <li>
                <a routerLink="custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="map">Map Operator</a>
            </li>
            <li>
                <a routerLink="pluck">Pluck Operator</a>
            </li>
            <li>
                <a routerLink="filter">Filter Operator</a>
            </li>
            <li>
                <a routerLink="tap">Tap Operator</a>
            </li>
            <li>
                <a routerLink="take">Take, TakeLast & TakeUntil Operator</a>
            </li>
            <li>
                <a routerLink="retry">Retry, RetryWhen, Scan and Delay</a>
            </li>
            <li>
                <a routerLink="debouncetime">Debounce Time & Distnict Until Changed</a>
            </li>
            <li>
                <a routerLink="subject">Subject</a>
            </li>
            <li>
                <a routerLink="reply-subject">Reply Subject</a>
            </li>
            <li>
                <a routerLink="async-subject">Async Subject</a>
            </li>
            <li>
                <a routerLink="concat">Concat Operator</a>
            </li>
            <li>
                <a routerLink="merge">Merge Operator</a>
            </li>
            <li>
                <a routerLink="merge-map">Merge Map Operator</a>
            </li>
            <li>
                <a routerLink="concat-map">Concat Map Operator</a>
            </li>
            <li>
                <a routerLink="switch-map">Switch Map Operator</a>
            </li>
            <li>
                <a routerLink="switch-map-search">Switch Map Operator (Serach Functionality)</a>
            </li>
        </ul>
    </div>
</div>
