<nav class="navbar navbar-expand-md bg-faded justify-content-center"  style="background-color: #e3f2fd;">
  <div class="container">
      <a href="/" class="navbar-brand d-flex w-50 me-auto">Observables & Promises</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
          <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" routerLink="observable">Observables</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="promise">Promises</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
